

.bg{
  background-image: url('./image/blue.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.glass{
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-sizing: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

